/*general styles*/
* {
  background-color: #EEE;
  font-family: Roboto, Arial;
  margin: 0px;
  padding: 0px;
}

/*title styles*/
#title {
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  color: #A6A8A7;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 250px
  
}

/*Task input styles*/

#div-input-container {
  display:flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#input-write-down-task {
  flex-grow: 1;
  border: none;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #FFF;
  padding-left: 20px;
  margin-top: 0px;
}

#input-write-down-task::placeholder {
  color: #69E5AE;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#add-button {
  width: 70px;
  height: 50px;
  background-color: #69E5AE;
  border-radius: 25px;
  border: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#task-list {
  display: flex;
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
}

#output-task {
  flex-grow: 1;
  border: none;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #69E5AE;
  padding-left: 20px;
  margin-top: 0px;
}

#output-task::placeholder {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.done {
  width: 70px;
  height: 50px;
  background-color: #FFF;
  border-radius: 25px;
  border: none;
  color: #69E5AE;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
